# ignore cache 
.cache
# ignore screenshots
screenshots
# ignore video files
video

# ignore virtual environment
venv
# ignore Python bytecode files
*.pyc
# ignore pycache directories
__pycache__
# ignore Jupyter Notebook checkpoints
.ipynb_checkpoints
# ignore logs
logs
# ignore coverage reports
.coverage
# ignore test output
test_output
# ignore temporary files
*.tmp
# ignore environment variables
.env
# ignore IDE specific files
.idea
# ignore build directories
build
